img{
    border-radius: 50%;
    width:16%;
    position: relative;
    bottom:100px;
    left: 300px;
    border: 3px solid #73AD21;

}

iframe{
    position: relative;
    top: 0px;
    bottom: 60px;
    left: 450px;
    border: 3px solid rgb(81, 27, 117);
   
}
li a {
    display: block;
    width: 95px;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
   
}

li a:hover {
    background-color: rgb(84, 12, 112);
    color: white;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
}


a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }